<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_stefanini_bob_management_domain_Password" modelAttribute="password" path="/passwords" render="${empty dependencies}" z="Jq6XA6FjqAodQYUm2jt077ywKtg=">
        <field:select field="person" id="c_com_stefanini_bob_management_domain_Password_person" itemValue="id" items="${people}" path="/people" style="width: 400px;" z="user-managed" itemLabel="name"/>
        <field:input field="keyPass" id="c_com_stefanini_bob_management_domain_Password_keyPass" required="true" type="password" z="user-managed"/>
        <field:input field="oldPassword" id="c_com_stefanini_bob_management_domain_Password_oldPassword" render="false" type="password" z="user-managed"/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_stefanini_bob_management_domain_Password" render="${not empty dependencies}" z="E1QWMN+jR3C9Fyd5/zMr+iiu4zs="/>
</div>
