<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_stefanini_bob_management_domain_Project" items="${projects}" z="xLztKsmkshEC3tG0pwPQpe09atM=">
        <table:table data="${projects}" id="l_com_stefanini_bob_management_domain_Project" path="/projects" z="FZ29M9JlGB+/WuyN1zOXEVC6vAg=">
            <table:column id="c_com_stefanini_bob_management_domain_Project_name" property="name" z="isJvIJv0dVEwq6vaxyndiqzM2eg="/>
            <table:column id="c_com_stefanini_bob_management_domain_Project_active" property="active" z="FZxlsZGiJEyd8ffLcm6f00xV/9U="/>
        </table:table>
    </page:list>
</div>
