<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_stefanini_bob_management_domain_PersonProjectRelationship" modelAttribute="personProjectRelationship" path="/personprojectrelationships" render="${empty dependencies}" z="K+H2cShO5ZgPebElyDvjeYCSUyM=">
        <field:select field="person" id="c_com_stefanini_bob_management_domain_PersonProjectRelationship_person" itemValue="id" items="${people}" path="/people" style="width: 400px;" z="user-managed"  itemLabel="name"/>
        <field:select field="project" id="c_com_stefanini_bob_management_domain_PersonProjectRelationship_project" itemValue="id" items="${projects}" path="/projects" style="width: 400px;" z="user-managed"/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_stefanini_bob_management_domain_PersonProjectRelationship" render="${not empty dependencies}" z="KMFDo6Ek8oGKZNsiWm8Fqa/zAGQ="/>
</div>
