<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_stefanini_bob_management_domain_AccessRole" items="${accessroles}" z="bf5SYaxKdQp5Y0LmzfrwgSjCDmA=">
        <table:table data="${accessroles}" id="l_com_stefanini_bob_management_domain_AccessRole" path="/accessroles" z="IroRwH5hTdmwfHsFSAoa/Rr9o6M=">
            <table:column id="c_com_stefanini_bob_management_domain_AccessRole_code" property="code" z="mg/KQgCifJ2A9AucAsYiCMa+hh0="/>
            <table:column id="c_com_stefanini_bob_management_domain_AccessRole_description" property="description" z="9l/QbBeWouxJZHb1MrLHv1VYDEA="/>
        </table:table>
    </page:list>
</div>
