<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_com_stefanini_bob_management_domain_PersonAccessRoleRelationship" modelAttribute="personAccessRoleRelationship" path="/personaccessrolerelationships" versionField="Version" z="eWIYWjFVcPsuoA7Uf98dZ2LZNVg=">
        <field:select field="person" id="c_com_stefanini_bob_management_domain_PersonAccessRoleRelationship_person" itemLabel="name" itemValue="id" items="${people}" path="/people" z="user-managed"/>
        <field:select field="accessRole" id="c_com_stefanini_bob_management_domain_PersonAccessRoleRelationship_accessRole" itemValue="id" items="${accessroles}" path="/accessroles" z="0ajw7hbrLW4XEomodgxCPGS8Qn8="/>
    </form:update>
</div>
